@page "/create-product"
@using BlazorCRUDApp.Shared.Interfaces
@using BlazorCRUDApp.Shared.Dtos;
@using BlazorCRUDApp.Client.Services;

<h3>Create Product</h3>

<EditForm Model="newProduct" OnValidSubmit="HandleCreate">
    <InputText @bind-Value="newProduct.Name" placeholder="Name" />
    <InputNumber @bind-Value="newProduct.Price" />
    <InputNumber @bind-Value="newProduct.CategoryId" />
    <button type="submit" @onclick="HandleCreate">Create</button>
</EditForm>
@code {

    private ProductCreateDto newProduct = new ProductCreateDto();
    private Task HandleCreate()
    {
        return ProductService.CreateProductAsync(newProduct);
    }
}