@page "/create-product"
@using BlazorCRUDApp.Shared.Interfaces
@using BlazorCRUDApp.Shared.Shared;
<h3>Create Product</h3>

<EditForm Model="newProduct" OnValidSubmit="HandleCreate">
    <InputText @bind-Value="newProduct.Name" placeholder="Name" />
    <InputNumber @bind-Value="newProduct.Price" />
    <InputNumber @bind-Value="newProduct.CategoryId" />
    <button type="submit">Create</button>
</EditForm>
@code {
    
    private Product newProduct = new Product();
    private void HandleCreate(EditContext args)
    {
        throw new NotImplementedException();
    }
}
